*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-card{
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    display: flex;
}

.experience-card .pic{
    width: 20%;
    height: 130px;
    background-color: white;
}

.projects{
    max-width: 60%;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}
/* Container for the whole project area */
.projects-container {
    padding-bottom: 60px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5); /* Makes text readable over images */
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}